<ul class="article-list">
  <li class="article">
    <h1 class="article-title">{{article.caption}}</h3>
    <p class="article-teaser">{{article.description}}</p>
    <p class="article-price">
      {{article.price}} EUR
    </p>
  </li>
</ul>

<ul>
    {{#each ratings}}
        <li id="{{rating_pk}}" class="rating">
                <h3>{{author}}</h3>
                <p>{{message}}</p>
                <p>
                    {{rate}} Stars
                </p>
                <p>{{appreciates}} finden hilfreich</p>
                <p>{{date_rated}}</p>
        </li>
    {{/each}}
</ul>

